name: pr-update-lock-files-command
on:
  issue_comment:
    types: [created]

jobs:
  update-lock-files:
    if: >-
      github.event.issue.pull_request
      && startsWith(github.event.comment.body, '@scikit-learn-bot update lock-files')
    runs-on: ubuntu-latest

    steps:
      - name: Parse comment
        id: parse-comment
        env:
          COMMENT: ${{ github.event.comment.body }}
        run: |
          prefix="@scikit-learn-bot update lock-files"
          first_line=$(echo "$COMMENT" | head -n 1)
          args=$(echo "$first_line#$prefix")
          echo "args=$args" >> $GITHUB_OUTPUT

      - name: Get PR HEAD ref
        id: pr-head-ref
        run: echo "pr_head_ref=$(gh pr view ${{ github.event.issue.number }} --repo ${{ github.repository }} --json headRefName | jq -r '.headRefName')" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check out the code
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.pr-head-ref.outputs.pr_head_ref }}

      - name: Run the command
        run: echo "python build_tools/update_environments_and_lock_files.py${{ steps.parse-comment.outputs.args }}" >> files/update-lock-files.txt

      - name: Commit changes
        run: |
          args=${{ steps.parse-comment.outputs.args }}
          selected_tag=""
          if [[ $args == *"--select-tag "* ]]; then
            selected_tag=${args#*--select-tag }
            selected_tag=${selected_tag%% *}
          fi

          # Get marker from selected tag (if any)
          marker=""
          case "$selected_tag" in
            "main-ci")
              marker="[doc build] "
              ;;
            "scipy-dev")
              marker="[scipy-dev] "
              ;;
            "arm")
              marker="[cirrus arm] "
              ;;
            *)
              ;;
          esac

          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "${marker}Update lock files"
          git push
