name: pr-update-lock-files-command
on:
  issue_comment:
    types: [created, edited]

jobs:
  update-lock-files:
    if: >-
      github.event.issue.pull_request
      && startsWith(github.event.comment.body, 'please update lock-files')
    runs-on: ubuntu-latest

    steps:
      - name: Parse comment
        id: parse-comment
        run: |
          first_line=$(echo "${{ github.event.comment.body }}" | head -n 1)
          command="./scripts/pr_update_lock_files.sh"
          is_valid=0

          if [[ $first_line == "please update lock-files all" ]]; then
            is_valid=1
          else
            select_tag=$(echo "$first_line" | sed -n 's/.*\[tag \([^]]*\).*/\1/p')
            select_build=$(echo "$first_line" | sed -n 's/.*\[build \([^]]*\).*/\1/p')
            skip_build=$(echo "$first_line" | sed -n 's/.*\[-build \([^]]*\).*/\1/p')

            if [[ -n $select_tag || -n $select_build || -n $skip_build ]]; then
              is_valid=1
              if [[ -n $select_tag ]]; then
                command+=" --select-tag $select_tag"
              fi
              if [[ -n $select_build ]]; then
                command+=" --select-build $select_build"
              fi
              if [[ -n $skip_build ]]; then
                command+=" --skip-build $skip_build"
              fi
            fi
          fi

          echo "is_valid=$is_valid" >> $GITHUB_OUTPUT
          if [[ $is_valid -eq 1 ]]; then
            echo "command=$command" >> $GITHUB_OUTPUT
          fi

      - name: Get PR HEAD ref
        if: ${{ steps.parse-comment.outputs.is_valid == '1' }}
        id: pr-head-ref
        run: echo "pr_head_ref=$(gh pr view ${{ github.event.issue.number }} --repo ${{ github.repository }} --json headRefName | jq -r '.headRefName')" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check out the code
        if: ${{ steps.parse-comment.outputs.is_valid == '1' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.pr-head-ref.outputs.pr_head_ref }}

      - name: Run the command
        if: ${{ steps.parse-comment.outputs.is_valid == '1' }}
        run: |
          chmod +x ./scripts/pr_update_lock_files.sh
          ${{ steps.parse-comment.outputs.command }}

      - name: Commit changes
        if: ${{ steps.parse-comment.outputs.is_valid == '1' }}
        run: |
          git config --global user.name "actions-bot"
          git config --global user.email "58130806+actions-bot@users.noreply.github.com"
          git add -A
          git commit -m "[pr-update-lock-files-command]"
          git push
